{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Contact Us</h1>
</div>

<p>Please contact a game moderator if you have any further questions or concerns.</p>
<ul>
	<li>Overlord Michael Simons{% if user.is_authenticated %}, 083 535 9467{% endif %}</li>
	<li>Hivemind Administrator Greg Linklater{% if user.is_authenticated %}, 082 559 7389{% endif %}</li>
	<li>2IC Antonio Peters{% if user.is_authenticated %}, 074 581 2072{% endif %}</li>
  <li>Head of Zombies Matt Huber{% if user.is_authenticated %}, 082 465 6201{% endif %}</li>
</ul>

<p>In the event of emergencies, please contact the relevant authorities:</p>
<ul>
  <li>Grahamstown Police Department, 046 603 9100</li>
  <li>Settlers Hospital, 046 602 5000</li>
  <li>Fort England Psyciatric Hospital, 046 602 2300</li>
  <li>Campus Protection Unit (CPU), 046 603 8999</li>
</ul>

<p>For bug reports and any other urgent inquiries regarding the functionality of this website during gameplay,
you may send an email to <a href="mailto:greg+hvz@gryphus.io"><b>greg@gryphus.io</b></a>.</p>
{% endblock %}
